{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link type="text/css" href="{% static 'aigerim/css/styles.css' %}" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<table class="table-page" border="0" cellpadding="0" cellspacing="0">
	<tr><td valign="top">
		{% block mainmenu %}
			<div class="header">
					<ul id="mainmenu" class="mainmenu">
						<li class="logo"><a href="#"><div class="logo"></div></a></li>
						{% for a in menu %}
						{% if not forloop.last %}
							<li><a href="#">{{a.title}}</a></li>
						{% else %}
							<li class="last"><a href="#">{{a.title}}</a></li>
						{% endif %}
						{% endfor %}
					</ul>
				<div class="clear"></div>
			</div>
		{% endblock mainmenu %}

			<table class="table-content" border=0 cellpadding="0" cellspacing="0">
				<tr>
					<td valign="top" class="left-chapters">
					<ul id="leftchapters">
						<li class="selected">Все категории</li>
						<li><a href="#">Актрисы</a></li>
						<li><a href="#">Певицы</a></li>
						<li><a href="#">Спортсменки</a></li>
						<li class="share">
						<p>Наш инста</p>
						<a class="share-yt" href="https://www.instagram.com/p/CoZdhhBNhbT/?utm_source=ig_web_copy_link" target="_blank" rel="nofollow"></a>
						</li>
					</ul>
					</td>

					<td valign="top" class="content">
						{% block breadcrumbs %}
						{% endblock %}

						<div class="content-text">
							{% block content %}
							{% endblock %}
						</div>
					</td>
				</tr>
			</table>
	</td></tr>
			<!-- Footer -->
			<tr>
				<td valign=top>
				<div id="footer">
					<p>&copy; 2023 year NARXOZ UNIVERSITY</p>
				</div>

		</td>
	</tr>
</table>

</body>
</html>
