{% extends 'aigerim/base.html' %}

{% block content %}

<ul class="list-articles">
	{% for p in posts %}
			<li><div class="article-panel">
				<p class="first">Категория: {{p.cat}}</p>
			</div>
				{% if p.photo %}
				<p><img class="img-article-left thumb" src="{{p.photo.url}}"></p>
				{% endif %}
				<h2>{{p.title}}</h2>
				<p class="display-7"><span class="badge bg-secondary">{{p.price}} ₸ </span></p>
		{% autoescape on %}
			{{p.content|linebreaks|truncatewords:10}}
		{% endautoescape %}
			<div class="clear"></div>
			<p class="link-read-post"><a href="{{ p.get_absolute_url }}">Подробнее...</a></p>
			</li>
	{% endfor %}
</ul>

{% endblock %}

